@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-dark: #101010;
  --color-dark-secondary: #141414;
  --color-dark-light: #2a2a2a;
  --color-darker: #1e1e30;
  --color-primary: #facc15;
  --color-primary-dark-text: #929294;
}

body {
  font-family: 'Inter', sans-serif;

  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
